body {
//   border: 1px solid red;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-top: 80px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-page {
  .movie-genre {
    font-size: 17px;
    // font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    color: pink; // does nothing
  }

  .card-title {
    margin-bottom: 0px;
  }
}

.card-movie-name {
    color: rgb(0, 70, 150);
}

.navbar {
  min-height: 80;

  > li > a {
    font-size: 19px;
  }
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

.update-movie {
    min-height: 100vh;
    border: 2px solid rgb(233, 230, 230);
    background-color: rgba(250, 250, 250, 0.479);
    border-radius: 2px;
}

.button-outline {
    outline-style: none;
}